<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="DefaultDatabase" />
  <connectionStrings>
    <add name="DefaultDatabase" connectionString="Server=DD-WINDOWSUP1;Database=DD-OYS;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultDatabase" connectionString="Server=10.34.205.52,10553;Database=DD-OYS;User Id=DEV_AGENT;Password=v8StEb@ki;" providerName="System.Data.SqlClient" />-->
    <!--add name="DefaultDatabase" connectionString="Server=10.34.205.4;Database=DD-OYS;User Id=-app-oys;Password=6TmvLR2;" providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="20" defaultUrl="Default.aspx" path="/" name=".ADAuthCookie"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="SqlProviderMembership" userIsOnlineTimeWindow="30">
      <providers>
        <add name="SqlProviderMembership" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultDatabase"
             applicationName="/"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             maxInvalidPasswordAttempts="5"
             passwordAttemptWindow="10"
             passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager defaultProvider="SqlProviderRole" enabled="true"
                 cacheRolesInCookie="true"
                 cookieName=".OYSROLES"
                 cookieTimeout="30"
                 cookiePath="/"
                 cookieRequireSSL="false"
                 cookieSlidingExpiration="true"
                 cookieProtection="All">
      <providers>
        <add name="SqlProviderRole" type="System.Web.Security.SqlRoleProvider" connectionStringName="DefaultDatabase" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>

  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Management">
    <system.web>
      <authorization>
        <allow roles="ADMIN,OYSILCE,EDW"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Management/ManagementEDW">
    <system.web>
      <authorization>
        <allow roles="ADMIN,EDW,ACMA"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Management/ManagementEDW/StatusList.aspx">
    <system.web>
      <authorization>
        <allow roles="ADMIN"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Login.aspx" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="Default.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicEndpoint">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://servicebus.dedas.com.tr:8443/DEDASService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicEndpoint"
        contract="WSDEDAS.DEDASService" name="basicEndpoint" />
    </client>
  </system.serviceModel>
</configuration>